<!-- Validating the password entered in the page to include only lowercase and numbers-->


<!doctype html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-messages.min.js"></script>
<script type="text/javascript" src="Signup_valid.js"></script>
    <body ng-app='myApp'>
        <h3>Password Validation using Watch()</h3>
        <div ng-controller="MyController" >
        <form name="myForm" novalidate>
            Enter email id: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" class="email" ng-model="email"><br><br>  
            Enter the Password:&nbsp;<input type="password" class="input" name="password" ng-model="password" maxlength=12 required />
        
            <div>
          
                <div style="color:red; font-style: italic" ng-show = "check || status">Cannot contain special characters or lower case characters</div>
                <div style="color:red; font-style: italic" ng-show = "!(check2  && valuenum)">Your password must consist of atleast one numeric and uppercase characters</div>
                
            </div>
        
        </form>
        </div>
    </body>
</html>



