<!--Creating a digital Library consisting of technical and non technical books
    Ensuring to enable the user to check out only one book at a time from only one of the categories-->

<!doctype html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="Digi_lib_obj.js"></script>
<body ng-app="myApp" >
    <h1 align="center"><u>Welcome to Digital Library</u></h1>
    <hr>
    <p style= color:red>You can choose exactly one technical or non-technical book</p>
	<h2 >Technical Books</h2>
    <div ng-controller="cntrl as techCtrl">
        
				<select ng-model="techCtrl.Techcategory" ng-options="book as book.Name for book in techCtrl.books"></select>
        <br><br>
				<select ng-model="techCtrl.currentBook" ng-options="topic for topic in techCtrl.Techcategory.topics" ></select>
         &nbsp;&nbsp;&nbsp;
        <button ng-disabled="techCtrl.check_button_func.check_button=='true'" ng-click="techCtrl.onClickButton()">Checkout</button>

    </div>
    
    <h2 >Non-Technical Books</h2>
    <div ng-controller="NonTechController as nontechCtrl" >
        
				<select ng-model="nontechCtrl.nonTechCategory" ng-options="book as book.Name for book in nontechCtrl.books"></select>
        <br><br>
				<select ng-model="nontechCtrl.currentBook" ng-options="topic for topic in nontechCtrl.nonTechCategory.topics" ></select>
        &nbsp;&nbsp;&nbsp;
        <button ng-disabled="nontechCtrl.check_button_func.check_button=='true'" ng-click="nontechCtrl.onClickButton()">Checkout</button>
        

    </div>
    
</body>
</html>