<!--Email validation
    takes in the email id and checks for a valid entry-->

<!DOCTYPE html>
<html ng-app="myApp" ng-controller="validateCtrl as validator">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="email_validation.js"></script>
<body>
    
    <h2>Validation of emails</h2>
    <form name="input_id" >
        
        Email: <input type="email" name="email" ng-model="email" ng-change="change()" required>

        <span style="color:red" ng-show="input_id.email.$dirty && input_id.email.$invalid">
        <div ng-show="input_id.email.$error.required">Email is required.</div>
        <div ng-show="input_id.email.$error.email">Invalid email address.</div>
        </span>
        <br><br>
        
        <input type="submit" ng-disabled="input_id.email.$invalid" ng-click="updateEmail()">
        <div ng-show="count=='false'">Signed in Successfully</div>
    </form>
</body>
</html>