<html>
    <head>
        <title>Promises</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
        <script src="moving_avg_using_promise.js"></script>
    </head>
    <h3><u>Moving Average using Promises</u></h3>
    <body ng-app="myApp" ng-controller="myController as ctrl">
        <p>The list of inputs are: {{ctrl.list}}</p><br>
        <input type="button" ng-click="ctrl.validate_length()" value="Click here to generate">
        <p>Waiting for resolving:{{ctrl.notify}}</p>
        <p ng-show = "check">The Moving Average is: {{ctrl.avg}}</p>
<!--
        <p ng-show = "input_limit">Input data over!!</p>
        {{input_limit}}
-->
    </body>
</html>