<!--HTML page included by the directive displaying the list of books and enabling the ability make purchases based on stock available-->

<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
</style>

<div ng-app='myApp' ng-controller ='bookCtrl as book'>
    
    <table>
        <th>Book Image
            <td>Book Name</td>
            <td>Author Name</td>
            <td>Price(in rupees)</td>
            <td>Publisher</td>
            <td>Avaliability</td>
        </th> 
        <tr  ng-repeat = "book in books.list">
            <td><img ng-src="{{book.imageUrl}}" width="100" height="100"></td>
            <td>{{book.book_name}}</td>
            <td>{{book.author_name}}</td>
            <td>{{book.price}}</td>
            <td>{{book.publisher}}</td>
            <td>
                <input type="button" id="book.id" ng-model="button1" ng-disabled="book.stock== 0 && book.check" ng-click="update(book.id)" value="{{book.check?'Add to Cart':'Remove From cart'}}">
            </td>

        </tr>
    </table>

</div>
