<html>
    <head>
        <title>Emit,broadcast</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
        <script src="UI_bound_controllers.js"></script>
    </head>
    <body ng-app="app" >
        <h3><u>Moving average calculation(within controllers)</u></h3>
        <div ng-controller="firstCtrl">
        <input type="button" ng-click = "moving_avg()" value="Click hear to generate">
        <div ng-controller="secondCtrl">
            <p ng-show="check">The moving average of the list is {{result}}</p>
        </div>
    </div>
    </body>
</html>