<!-- Pushes the valid emails into the table-->

<!DOCTYPE html>
<html ng-app="myApp" ng-controller="validateCtrl as validator">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="email_updation.js"></script>
<body>
    
    <h2>Updation of emails</h2>
    <form name="input_id" >
        
        Email: <input type="email" name="email" ng-model="email" required>
        <span style="color:red" ng-show="input_id.email.$dirty && input_id.email.$invalid">
        <div ng-show="input_id.email.$error.required">Email is required.</div>
        <div ng-show="input_id.email.$error.email">Invalid email address.</div>
        </span>
        <br><br><input type="submit" ng-disabled="input_id.email.$invalid" ng-click="addEmail()">

    </form>
    <table border="1">
        <th>
            Updated Email Ids
        </th>
        <tr ng-repeat = "emails in list1">
            <td> {{emails}} </td>
        </tr>
    </table>
</body>
</html>
    