<!DOCTYPE html>
<!-- Addition of 2 numbers-->
<html ng-app="myApp">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="addition.js"></script>
    <body>
        <div ng-controller="myctrl as first">
            Input the first number: <input type="number" ng-model="first.num1"><br>
            Input the second number: <input type="number" ng-model="first.num2"><br>
            The sum is: {{ first.num1 + first.num2}}    
        </div>
    </body>
</html>