<div>
<h1 class="page-header">The Trip</h1>
<br>
    <div class="container"><span class="list_span">You are travelling to {{trip_details[0].destination}} from {{trip_details[0].from_date | date:yyyy-mm-dd}}  to {{trip_details[0].to_date | date:yyyy-mm-dd}}</span>
    
    </div><br>
<!--
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="img_chania.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="img_chania2.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="img_flower.jpg" alt="Flower">
            </div>

            <div class="item">
                <img src="img_flower2.jpg" alt="Flower">
            </div>
        </div>

   Left and right controls 
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
-->
        
    
    
    <div><button ng-click="uploadClick()" class="create_itinerary btn btn-info btn-lg">Save as PDF</button></div><br><br>
<div class="container">
	<div class="row"> 
      <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="choosen_dates in itinerary">
          <b><span class="list_span">On Day :{{choosen_dates.day}}{{trip_details.destination}}</span></b>
        <div class="dummy" ></div> 
        <ul class="thumbnail purple" ><span class="list_span">You are visiting :</span><li ng-repeat="choosen_places in choosen_dates.place">{{choosen_dates.place[$index]}}</li></ul>
      </div>
  	</div>
</div>
    
    

<table id="final" ng-hide="true">
    <thead>
        <tr><th><h3><center><u>Congrats on having successfully planned your trip @The Trip</u></center></h3></th></tr><br>
        <tr><th><b><i>You are travelling to <u>{{trip_details[0].destination}}</u></i></b></th></tr>
        <tr><th><b><i>Starting on :<u>{{trip_details[0].from_date | date:yyyy-mm-dd}}</u></i></b></th></tr>
        <tr><th><b><i>Coming back on :<u>{{trip_details[0].to_date | date:yyyy-mm-dd}}</u></i></b></th></tr>
    </thead>
    <tbody ng-repeat="choosen_dates in itinerary">
        <tr><td><b><u>On Day :{{choosen_dates.day}}</u></b></td></tr>
            <tr><td ng-repeat="choosen_places in choosen_dates.place"><b>You are visiting :</b>{{choosen_dates.place[$index]}} @ {{choosen_dates.address[$index]}}</td>
        </tr><br>
    </tbody>
    <h4>Hope you have a very happy and safe journey</h4>
    </table>

<!--    <div id="final" ng-hide="true"><p>hi am here in d same page</p></div>-->

</div>
 