<!--Modal to allow the user to choose his from and to dates-->
<div id="input_date" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Choose your dates :</h4>
      </div>
      <div class="modal-body">
        <form>
            <div id="form_div">
                <br>From : <input type="date" name="from_date" ng-model="from_date" class="btn btn-default btn-md dropdown-toggle" min = "{{mindate | date: 'yyyy-MM-dd'}}" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                To : <input type="date" name="to_date" ng-model="to_date" class="btn btn-default btn-md dropdown-toggle" min = "{{from_date | date: 'yyyy-MM-dd'}}" required><br><br>
            
                <button type="button" ng-disabled="!from_date || !to_date" ng-model="choose_place" data-dismiss="modal" ng-click="choose_place_func();push_dates()" class="btn btn-info btn-lg">Choose your place</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal to allow the user to decide on the dates to travel to various locations-->
<div id="assign_date" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{!marker[selected_place_id].place_selected? 'Scheduled on' : 'Schedule on'}}</h4>
      </div>
      <div class="modal-body centered-pills">
          <ul class="nav nav-pills">
            <li role="presentation" ng-class="{'active' : ((!marker[selected_place_id].place_selected) && (marker[selected_place_id].scheduled_on == $index))}" ng-repeat="day in itinerary">
                <a ng-click="selected_place($index)" data-dismiss="modal">Day{{$index + 1}}</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>



<!--Html content for the initial welcome page, uses ng-switch to toggle between the divs based on the value of the button in the modal-->

<div ng-switch on= "choose_place">
    <h1 class="page-header">The Trip</h1>
    
    <div ng-switch-when="false"  id="form_div">
        <br><br><br><br><br><br><br><br><button type="button"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#input_date">Let's begin the journey</button>
    </div>

    

    <div><a href="final_itinerary"><button ng-show="choose_place" class="create_itinerary btn btn-info btn-lg">Create Your Itinerary!</button></a></div><br>
    <!--Html content to display the map canvas, makes use of angular-google-maps directive-->
    <div ng-switch-when="true" class="wrapper" id="map_canvas" ng-cloak>
        
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" ng-cloak>
            <ui-gmap-search-box template="searchbox.template" events="searchbox.events" ></ui-gmap-search-box>
            <ui-gmap-marker ng-repeat="mark in marker" coords="mark.coords" idkey="mark.id" click="onClick(mark.id)">
                <ui-gmap-window show="show" options="mark.windowOptions" closeClick="closeClick(mark.windowOptions.id)" ng-cloak>
                    <div>
                    {{mark.message}}<br>We Rate it: <div style="color:red">{{mark.rating}}</div>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>


<!--Html content to display the list of attractions in the place specified by the user-->
   
    <div ng-switch on= "place_available" class="wrap_container">
        
        <div ng-switch-when="true" class="container"  ng-repeat="item in response.response.groups[0].items" ng-model="list_of_attractions" ng-click="setSelected($index)">
            <div class="jumbotron" id="$index">
                <span>
                    <b>Wannabe @ : </b>{{item.venue.categories[0].name}}<b> ?</b>
                    <button id="choosen_spots" class="btn btn-info" data-toggle="modal" ng-click="decided_place($index, item.venue.categories[0].name)" data-target="#assign_date">{{marker[$index].place_selected?'Remove from your plans':'Add to your spots'}}</button>
                    <br>
                    <b>Go To : {{item.venue.name}}</b>
                    <br>
                    <b>@&nbsp;</b>{{item.venue.location.formattedAddress.toString()}}
                    <br>
                    <b>Our User's Review : </b>
                    <span >{{item.tips[0].text? item.tips[0].text: 'Oops!! We dont seem to have a review!!'}}</span>
                </span>
            </div>
        <br><br>
    </div>
           
        
        
<!--Html content to handle error in case of no details on place requested by the user-->
        <div ng-switch-when="false" class="container">
            <div class="jumbotron">
                <span><b id="error_span">Oops!! Turns out we are new to this place!!</b></span>
            </div>
        </div>
    </div>

