.angular-google-map-container{
    height: 50%;
    width: 90%;
    position: absolute;
}

.dummy {
    margin-top: 100%;
}
.thumbnail {
    background: rgba(204, 255, 255, 0.5);
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:left;
/*    padding-top:calc(50% - 30px);*/
}

ul li {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: medium;
}
 

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.wrap_container::-webkit-scrollbar { 
    display: none; 
}

.create_itinerary {
    float:right;
}

#form_div {
    text-align: center;
}

#choosen_spots {
    float:right;
}

span {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}

.list_span{
    font-size: large;
}

form {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h4 {
    font-family: cursive;
}

.wrapper {
/*  display: inline-block;*/
    width: 1325px;
    height:300px;
    margin: 50px; 
}

.wrap_container{
     
    height:300px;
    overflow: auto;
/*    display:block;*/
}

.container .jumbotron {
  background: rgba(204, 255, 255, 0.5);
    padding:3px 0px;
    margin:auto;
   overflow:auto;
}

/*
#container {
    position:fixed;
    overflow:auto;
}
*/

.centered-pills {  
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.pac-controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px !important;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: 'Open Sans', sans-serif;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}




/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: inherit;
}

body {
   background-image: url(/assets/images/The_Trip.jpg);
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   background-position: top center !important;
   background-repeat: no-repeat !important;
   background-attachment: fixed;
    
}

h1{
    text-align:center;
    font-family: cursive;
}

.selected {
    color:red;
}

.table table-hover{
    width:100px;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}