<!--Creating a digital Library consisting of technical and non technical books
    Ensuring to enable the user to check out only one book at a time from only one of the categories-->

<!doctype html>
<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script type="text/javascript" src="Digi_lib.js"></script>
<body ng-app="myApp" >
    <h1 align="center"><u>Welcome to Digital Library</u></h1>
    <hr>
    <p style= color:red>You can choose exactly one technical or non-technical book</p>
	<h2 >Technical Books</h2>
    <div ng-controller="Controller">
        
				<select ng-model="Techcategory" ng-options="book as book.Name for book in books"></select>
        <br><br>
				<select ng-model="currentBook" ng-options="topic for topic in Techcategory.topics" ></select>
        
        <button ng-disabled="check_button=='true'" ng-click="onClickButton()">Checkout</button>
        
        

    </div>
    
    <h2 >Non-Technical Books</h2>
    <div ng-controller="NonTechController" >
        
				<select ng-model="nonTechCategory" ng-options="book as book.Name for book in books"></select>
        <br><br>
				<select ng-model="currentBook" ng-options="topic for topic in nonTechCategory.topics"></select>
        
        <button ng-disabled="check_button=='true'" ng-click="onClickButton()">Checkout</button>
        

    </div>
    
</body>
</html>