<!--Displaying the content of the phones that are stored as JSON files using ng-repeat-->


<!DOCTYPE html>
<html >
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="phonecntrl.js"></script>
<body>
    <div ng-app='myApp' ng-controller ='phoneCtrl as phone'>
    <table border="1">
        <th>Mobile Image
            <td>Mobile Name</td>
            <td>snippet</td>
            <td>Camera</td>
            <td>Wifi</td>
            <td>GPS</td>
        </th> 
        <tr ng-repeat = "phne in phone.phones.list">
            <td><img ng-src="{{phne.imageUrl}}" width="100" height="100"></td>
            <td>{{phne.name}}</td>
            <td>{{phne.snippet}}</td>
            <td>{{phne.camera}}</td>
            <td>{{phne.wifi}}</td>
            <td>{{phne.gps}}</td>

        </tr>
    </table>
    </div>
</body>
</html>