<!-- Validating the password entered in the page to include only lowercase and numbers-->

<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="password_valid.js"></script>
    <body ng-app='myApp' ng-controller="myCtrl">
        <h3>Password validation using Parsers</h3>
        <div>
            <form name="myForm">
                
                Enter email id: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" class="email" ng-model="email"><br><br>
                Enter the Password:&nbsp;<input type="text" class="input" name="password" ng-model="password" minlength=6 maxlength=12                                                          passwordvalidation />
                <div style="color:red; font-style: italic" ng-show="myForm.password.$error.pwd || myForm.password.$error.required">Should contain only uppercase letters and atleast one numeric value.</div>
                
            </form>
        </div>
    </body>
</html>
