<script>
  function preventBack(){window.history.forward();}
  setTimeout("preventBack()", 0);
  window.onunload=function(){null};
</script>
<div style="text-align:center">
    
    <h3 style="color:CC99CC"><b><u>Thank You for Booking with us</u></b></h3>
    <p><b>(You can take a print out of the following:)</b></p>

    <p>
        Name: {{confirmed[1].name}}&nbsp;&nbsp;
        Gender: {{confirmed[1].gender}}<br><br>
        <b>You are travelling from {{confirmed[0].source}} to {{confirmed[0].destination}}</b><br><br>
        <b><i>Bus details:</i></b><br>
        Travels: {{confirmed[0].travels_name}}<br>
        Departure Time: {{confirmed[0].departure}}<br>
        Arrival Time: {{confirmed[0].arrival}}<br>
        Fare: {{confirmed[1].total_fare}}<br>
    </p>
<span ng-show="validity" style="color:red;font-style:italic">*You have already booked your ticket</span>

</div>