<!--Displays the list of travels that are available for the route requested by the customer-->

<div>
    <table class="table table-condensed">
        <thead>
        <tr class= "info">
            <th>Travels Name</th>
            <th>Bus type</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Seats</th>
            <th>Rating</th>
            <th>Fare(in Rupees)</th>
            <th>Availability</th>
        </tr> 
        </thead>
        <tbody>
        <tr  ng-repeat = "travels in sorted_list">
            <td>{{travels.travels_name}}</td>
            <td>{{travels.type}}</td>
            <td>{{travels.departure}}</td>
            <td>{{travels.arrival}}</td>
            <td>{{travels.seats}}</td>
            <td>{{travels.rating}}</td>
            <td>{{travels.fare}}</td>
            <td>
                <input type="button" class="btn btn-primary" id="book.id" ng-model="button1" value="View Seats" ng-click="view_seats(travels.travels_name)">
            </td>
        </tr>
        </tbody>
    </table>
</div>