<script>
  function preventBack(){window.history.forward();}
  setTimeout("preventBack()", 0);
  window.onunload=function(){null};
</script>
<div style=" text-align:center">
    <p><b>You are travelling from {{choosen[0].source}} to {{choosen[0].destination}}</b></p>
   <p> 
   Travels name: {{choosen[0].travels_name + " " + choosen[0].type}}<br>
    Departure: {{choosen[0].departure}}<br>
    Arrival: {{choosen[0].arrival}}<br>
    Fare: {{choosen[0].fare}}<br>
</p>
     <span ng-show="myForm.number_of_seats.$invalid && myForm.number_of_seats.$dirty" style="color:red;font-style:italic">&nbsp;&nbsp;*Only a maximum of 6 seats can be booked</span>
<form name = "myForm">
    Enter Your Name: <input type="text" ng-model="cust_name" name="cust_name" required>&nbsp;&nbsp;&nbsp;
    Gender: <input type ="radio" class="gender" ng-model="gender" value="Male" name="gender" required>Male
            <input type ="radio" class="gender" ng-model="gender" value="Female" name="gender" required>Female<br><br>
    Enter the number of seats: <input type="number" max="6" min= "1" ng-model="number_of_seats" name="number_of_seats" ng-change="total_fare();generate_seats()" required><br><br>
<!--
    <div ng-show="myForm.number_of_seats.$valid">
        <input type="button" 
    </div>
-->
    Your Total Fare is : {{total_cost}}<br><br>
    <input type="button" class = "btn btn-info" value="Go Back" ng-click="revert_back()">
    <input type="button" class = "btn btn-success" value="Confirm Seats" ng-click="confirm_tickets()" ng-disabled="myForm.cust_name.$invalid || myForm.gender.$invalid || myForm.number_of_seats.$invalid || myForm.number_of_seats.$error.maximum">
    
    </form>
</div>

