<!--represents the initial welcome page allowing the user to choose from, to and date of the journey-->



<form name = "myForm" style=" text-align:center" >
    <div ng-show = "choose" class="jumbotron">
    
        <h4>Select your start and destination cities</h4>
        <span ng-show = "myForm.scr.$invalid || myForm.dest.$invalid || !date_test"  style="font-style:italic;color:red">*All Fields are required</span><br><br>
        From:<select class="btn btn-default dropdown-toggle" ng-model="Source" name="scr" ng-options="place as place.source for place in place_list" required><option value="" style="display:none">select</option></select>
        To:<select class="btn btn-default dropdown-toggle" ng-model="Destination" name="dest" ng-options="dest for dest in Source.destination" required><option value="" style="display:none">select</option></select><br><br>
        Date of Journey:<input type = "date" class="btn btn-default btn-md dropdown-toggle" name="date_test" ng-model="date_test" min = "{{mindate | date: 'yyyy-MM-dd'}}" required><br><br>
        <input type="button" ng-disabled="myForm.scr.$invalid || myForm.dest.$invalid || !date_test" value="Search Buses" class="btn btn-primary" ng-click="searchBuses()">
</div>
</form>

<div ng-view></div>