<!--Template Page that is hosted when the technical or the non technical route is choosen. Each of them have a different different contyroller which is specified as a part of the .config-->

<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
</style>

<div>
    <table>
        <th>Book Image
            <td>Book Name</td>
            <td>Author Name</td>
            <td>Price(in rupees)</td>
            <td>Publisher</td>
            <td>Avaliability</td>
        </th> 
        <tr  ng-repeat = "book in books.list">
            <td><img ng-src="{{book.imageUrl}}" width="100" height="100"></td>
            <td>{{book.book_name}}</td>
            <td>{{book.author_name}}</td>
            <td>{{book.price}}</td>
            <td>{{book.publisher}}</td>
            <td>
                <input type="button" id="book.id" ng-model="button1" ng-disabled="book.stock== 0" ng-click="update(book.id)" value="{{book.check?'Add to Cart':'Remove From cart'}}">
            </td>

        </tr>
    </table>
</div>