<!--HTML page to be included by the directive showing the links to the technial and non technical category-->


  
        <h2 style="text-align:center">Book Library</h2><hr>
        <p style="font-style:italic"> This Library Provides you with the latest collection of Technical and Non Technical Books. </p>
        <p style="font-style:italic">Click on the links given below to navigate!!</p>
        <ul class="nav">
            <li><a href="#tech"> Click Here for Technical books </a></li>
            <li><a href="#nontech"> Click Here for Non Technical books </a></li>
        </ul>
        <div ng-view></div>
    
    