<!-- Making use of the builtin filters to filter the student details based on the first and last name-->

<!doctype html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="Filter_custom_name.js"></script>
<body ng-app="myApp" ng-controller="StudentCtrl">
    <h2><u>Filtering using Custom filters </u></h2>
    <p>This filter searches by both first and last names</p>
    Enter the name:&nbsp;&nbsp;&nbsp;<input type="text" ng-model="search">&nbsp;&nbsp;&nbsp;<br><br> 
<!--
    <input type="radio" class="searchBy" value="first_name" ng-model="student.name">Search By First Name<br>
    <input type="radio" class="searchBy" value="last_name" ng-model="student.name">Search By Last Name<br>
    <input type="button" ng-model
-->
    <div>
        <br><br>
        <table border="1">
            <th>First Name</th>
            <th>Last Name</th>
            <tr ng-repeat="student in student_list | filter_name:search">
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
            </tr>
    </table>
        </div>
    </body>
</html>