<!--Template Page that is hosted when the technical or the non technical route is choosen. Each of them have a different different contyroller which is specified as a part of the .config-->

<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
</style>

<div ng-app='myApp'>
    <span><input type="text" ng-model="search" placeholder="search by name">&nbsp;&nbsp;&nbsp;
    <input type="button" value="Search" ng-click="search_book_func()"</span><br><br><br>
    <span ng-show="update_var">This Book isnt available!! However you can add this book into our DB!! Just click below!<br><br><br><a href="#update" ng-show="update_var"> <input type="button" value="Click to Update"> </a></span>
        <br><br>
    <table ng-show="books.book_name">
        <th>Book Name
            <td>Author Name</td>
            <td>Price(in rupees)</td>
            <td>Publisher</td>
        </th> 
        <tr>
            <td>{{books.book_name}}</td>
            <td>{{books.author_name}}</td>
            <td>{{books.price}}</td>
            <td>{{books.publisher}}</td>
        </tr>
    </table>
</div>