<!-- This is the HTML page that is loaded when the user wants to update the list-->

<br>

<form name="myForm">

<div>
    <span ng-show="myForm.cat.$invalid || myForm.name.$invalid || myForm.author_name.$invalid || myForm.price.$invalid || myForm.pub_name.$invalid" style="font-style:italic;color:red">*This Field is required</span><br><br>
    Enter the book Category*:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="cat" ng-model="cat" placeholder="Technical/Non Technical" required>

    <br><br>Enter the book Name*:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name" ng-model="name" required><br><br>
    Enter the author Name*:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="author_name" ng-model="author_name" required><br><br>
    Enter the Book Price*:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="price" ng-model="price" required>
    <span ng-show="myForm.price.$error.number" style="font-style:italic;color:red">*Fill the price in numbers</span>
    <br><br>
    Enter the publisher name*:&nbsp;&nbsp;&nbsp;<input type="text" name="pub_name" ng-model="pub_name" required><br><br>
    <input type="button" ng-disabled="myForm.cat.$invalid || myForm.name.$invalid || myForm.author_name.$invalid || myForm.price.$invalid || myForm.pub_name.$invalid" value="Update" ng-click="update_book_func()">

    </div>

</form>